.nav {
    grid-area: n;
    background-color: #B88C69;
    padding: 15px;
  }

.item {
  text-align: center;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.item a.active {
  color: #B3667B;
  font-weight: 700;
}